h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
   
}

.container{
    display: flex;
    justify-content:space-between;
}

.container2{
    width: 50%;
   margin-left: 30px;
}

.container3{
    margin-left: 30px;
   
}
.container4{
    width: 50%;
    margin-left: 30px;
  
   
}

#dateHome{
 margin-left: 200px;
}

